<div class="container">
  <form novalidate #form="ngForm" (ngSubmit)="process()">
    <!-- novalidate : ne pas valider automatiquement les number... -->
    <!-- #form : permet d'avoir accès au FormGroup. utilisation comme une variable locale côté html -->
    <div class="form-group">
      <label for="type">Type prestation</label>
      <input #type="ngModel" [(ngModel)]="newPresta.typePresta" name="type"
      type="text" class="form-control" id="type" required>
      <!-- for et id doivent avoir la même valeur-->
      <!-- class="form-control" : uniquement pour bootstrap -->
      <!--Validation sur le formulaire (FormsModule) => name obligatoire-->
      <div *ngIf="type.invalid && type.touched" class="alert alert-danger"><!--[hidden]="type.valid || type.pristine"-->
        Type prestation obligatoire
      </div>
    </div>

    <div class="form-group">
      <label for="client">Client</label>
      <input [(ngModel)]="newPresta.client" name="client" type="text" class="form-control" id="client" required>
    </div>

    <div class="form-group">
      <label for="nbjours">Nb jours</label>
      <input [(ngModel)]="newPresta.nbJours" name="nbjours" type="number" class="form-control" id="nbjours" required
        minlength="1">
    </div>

    <div class="form-group">
      <label for="tjmHT">Tjm HT</label>
      <input [(ngModel)]="newPresta.tjmHT" name="nbjours" type="number" class="form-control" id="tjmHT" required>
    </div>

    <div class="form-group">
      <label for="tva">Taux TVA</label>
      <input [(ngModel)]="newPresta.tauxTVA" name="tva" type="number" class="form-control" id="tva">
    </div>

    <div class="form-group">
      <label for="state">Action</label>
      <select [(ngModel)]="newPresta.state" name="state" id="state" class="form-control">
        <option *ngFor="let state of states" [ngValue]="state">{{ state }}</option>
        <!-- ngValue plutôt que value : permet de garder le type (et non systématiquement un string) -->
        <!-- utilisation de ngValue => importer FormsModule -->
      </select>
    </div>

    <button [disabled]="form.invalid" type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
