<tr (click)="edit()">
  <th>{{ prestation.typePresta }}</th>
  <td>{{ prestation.client }}</td>
  <td>{{ prestation.nbJours }}</td>
  <td>{{ prestation.tjmHT | currency:'EUR' }}</td>
  <td>{{ prestation | total:'HT' | currency:'EUR' }}</td>
  <td>{{ prestation | total:'TTC' | currency:'EUR' }}</td>
  <td [appStateClass]="prestation.state">
    <select (click)="$event.stopPropagation()" (change)="changeState($event)">
      <option [value]="prestation.state">{{ prestation.state }}</option>
      <ng-container *ngFor="let state of states">
        <option *ngIf="state !== prestation.state" [value]="state">{{ state }}</option>
      </ng-container>
    </select>
  </td>
  <td>
    <fa-icon [icon]="faTrash"
      (click)="$event.stopPropagation();
      deleteMe()"></fa-icon>
  </td>
</tr>
