<tr>
  <th>{{ prestation.typePresta }}</th>
  <td>{{ prestation.client }}</td>
  <td>{{ prestation.nbJours }}</td>
  <td>{{ prestation.tjmHT | currency:'EUR' }}</td>
  <td>{{ prestation | total:'HT' | currency:'EUR' }}</td>
  <td>{{ prestation | total:'TTC' | currency:'EUR' }}</td>
  <td>
    <select>
      <option [value]="prestation.state">{{ prestation.state }}</option>
      <ng-container *ngFor="let state of states">
        <option *ngIf="state !== prestation.state" [value]="state">{{ state }}</option>
      </ng-container>
    </select>
  </td>
</tr>
