<div class="d-flex align-items-center header">

    <div>
      <span (click)="faBarsClicked()">
        <fa-icon [icon]="faBars"></fa-icon>
      </span>
    </div>

    <div class="title flex-grow-1 text-center">
      <h1>{{ title }}</h1>
    </div>

    <div>
      <span *ngIf="(log$ | async) === 'login'; else other_content">
        {{ user }}
        <button (click)="logout()">logout</button>
      </span>
      <ng-template #other_content>
          <button (click)="login()">Login</button>
      </ng-template>
      <span>
          <a routerLink="/login/" *ngIf="loginServiceService.login$.value==='logout'"> <!--routerLinkActive="active"-->
            <fa-icon [icon]="faUser" ></fa-icon>
            Connexion
          </a>
          <fa-icon [icon]="faUser"></fa-icon>
      </span>
    </div>

  </div>
