<div class="table-responsive">
  <table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th *ngFor="let item of headers" scope="col">{{ item }}</th>
      </tr>
    </thead>
<tbody>
      <ng-content></ng-content>
    </tbody>
  </table>
  <div *ngIf="msg$ | async; let msg">{{ msg }}</div>
</div>
<ng-content select=".lienAdd"></ng-content>
<ng-content select=".premier"></ng-content>
<ng-content select="p"></ng-content>
<!--<app-add-row *ngIf="addRow" [addRow]="addRow"></app-add-row>-->
