<div class="container">
  login works

  <!--  <form novalidate [formGroup]="form" (ngSubmit)="login()">
      <div class="form-group">
          <label for="ident">Identifiant</label>
          <input type="text" class="form-control" id="ident" formControlName="ident">
          <div class="alert alert-danger" *ngIf="isError('ident')">
            Identifiant obligatoire
          </div>
        </div>
        <div class="form-group">
            <label for="pwd">Identifiant</label>
            <input type="password" class="form-control" id="pwd" formControlName="pwd">
            <div class="alert alert-danger" *ngIf="isError('pwd')">
              Mot de passe obligatoire
            </div>
          </div>
        <button [disabled]="form.invalid" type="submit" class="btn btn-primary">Submit</button>
    </form>
  -->
</div>
