<div class="container">
<!--    <form novalidate (ngSubmit)="process()" [formGroup]="form">
      <div class="form-group">
        <label for="type">Type prestation</label>
        <input type="text" class="form-control" id="type" formControlName="typePresta">
        <div class="alert alert-danger" *ngIf="isError('typePresta')">
          Type prestation obligatoire
        </div>
      </div>

      <div class="form-group">
        <label for="client">Client</label>
        <input type="text" class="form-control" id="client" formControlName="client">
        <div class="alert alert-danger" *ngIf="isError('client')">
          Champ invalide
        </div>
      </div>


      <div class="form-group">
        <label for="state">Action</label>
        <select id="state" class="form-control" formControlName="state">
          <option *ngFor="let state of states" [ngValue]="state">{{ state }}</option>
        </select>
      </div>

      <button [disabled]="form.invalid" type="submit" class="btn btn-primary">Submit</button>

    </form>
    -->
  </div>
